<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>mvc01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- ※ Spring MVC Framework 등록 -->
  <!-- 	  → Front Controller 등록 -->
  <!--    → DispatcherServlet 객체 등록 -->

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<!-- Spring Container 에 있는 DispatcherServlet 경로, 클래스 이름으로 매핑 -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<!-- <url-pattern> hello.action </url-pattern> .action 이기만 하면 Front-Controller 에게 넘겨주겠다. -->
		<!-- <url-pattern> 사람 </url-pattern> -->
		<url-pattern>*.action</url-pattern>		
	</servlet-mapping>
	
	<!-- ○한글 인코딩 처리를 위한 필터 클래스 등록 -->
	<!-- 인코딩 필터 등록 : CharacterEncodingFilter -->
	<!-- 				→	특정한 인코딩을 적용하겠다는 의미.  -->
	<!-- 					web.xml 인코딩 필터를 등록하면 server 에 URIEncoding="UTF-8" 등록 안해줘도 됨.  -->
	<!-- 위치 : 요청페이지 ㅡㅡㅡㅡㅡㅡㅡ→ FrontController -->
	<!-- 	     		   [ 인코딩필터 ]                  	 -->										 
		     		         
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		
		<!-- 필터에 파라미터 값 지정 : 어떤 값으로 초기화 할지를 지정해주어야 함. -->
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>